body {
    text-align: center;
    background: #e9e9e9;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    width: 70%;
}

.container {

}

canvas {
	margin-left: 40px;
}


.select-player {
	background: linear-gradient(to bottom right, #f4f4f4, #eeeeee);
	border-radius: 15px;
	padding: 0 15px;
	border: 1px solid #e3e2e2;
}

.select-player img {
	cursor: pointer;
	width: 50px;
}

.underline {
	border-bottom: 3px solid #a5a5a5;
}

.life {
	background: linear-gradient(to bottom right, #f4f4f4, #eeeeee);
	border-radius: 15px;
	padding: 15px 15px;
	border: 1px solid #e3e2e2;
	font-family: tahoma;
	letter-spacing: 2px;
	font-size: 20px;
	color: #bc1141;

}


.life-div {
	margin: 50px 0 30px 0;
	width: 300px;
}

.mobile-arrows {
	display: none;
	margin: 20px 60px;
}

.mobile-arrows img {
	cursor: pointer;
	width: 50px;
}



.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
}

.copyright p {
    color: #514320;
    background: #ffd67f;
    width: 300px;
    padding: 2px 0;
    border: 1px solid #cec379;
}

.copyright p a {
    text-decoration: none;
    color: #0a7479;

}

.copyright p a:hover {
    color: #4a3421;
}


@media screen and (max-width: 700px){
	body {
		width: 100%;
		flex-direction: column;
	}

	.container {
		order: 1;
	}

	canvas {
		width: 350px;
		height: 406px;
		order: 2;
		margin:0 auto;
		margin-bottom: 10px;
	}

	.select-player {
		padding-left: 0;
		width: 300px;
		margin: 0 auto;
	}

	.select-player img {
		width: 40px;
	}

	.mobile-arrows {
		order: 3;
		display: block;
		margin: 0 auto
	}


	.mobile-arrows img {
		width: 80px;
	}

	.life-div {
		margin:30px auto;
	}

	.life {
		font-size: 18px;
	}



}


@media screen and (min-width: 701px) and (max-width: 769px){
	body {
		width: 100%;
		flex-direction: column;
	}

	.container {
		order: 1;
	}

	canvas {
		width: 650px;
		height: 706px;
		order: 2;
		margin:0 auto;
		margin-bottom: 10px;
	}

	.select-player {
		padding-left: 0;
		width: 400px;
		margin: 0 auto;
	}

	.select-player img {
		width: 60px;
	}

	.mobile-arrows {
		order: 3;
		display: block;
		margin: 0 auto
	}


	.mobile-arrows img {
		width: 80px;
	}

	.life-div {
		margin:30px auto;
	}

	.life {
		font-size: 24px;
	}

}