body {
    text-align: center;
    background: linear-gradient(#e9e9e9, #fff);
    background-repeat: no-repeat;
}


.select-player {
	position: absolute;
	left: 150px;
	top: 50px;
	background: linear-gradient(to bottom right, #f4f4f4, #eeeeee);
	border-radius: 15px;
	padding: 0 15px;
	border: 1px solid #e3e2e2;
}

.select-player img {
	cursor: pointer;
	width: 50px;
}

.underline {
	border-bottom: 3px solid #a5a5a5;
}


.life-div {
	position: absolute;
	left: 150px;
	top: 170px;
	background: linear-gradient(to bottom right, #f4f4f4, #eeeeee);
	border-radius: 15px;
	padding: 0 15px;
	border: 1px solid #e3e2e2;
	font-family: tahoma;
	letter-spacing: 2px;
}


